#jenkins-home-link {
    display: block;
    background: url("https://samistine.com/img/mclogosmall.png") 0 0 no-repeat;
    background-size: 130px;
    float: right;
    top: 2px;
    height: 38px;
    width: 220px;
}

#jenkins-head-icon {
    display: none;
}

#jenkins-name-icon {
    display: none;
}

#header {
    background-color: #1fddff;
}